@import './variables.scss';

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

:root {
	font-size: 16px;
}

body {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 100vh;
	background-image: url('../assets/bird-bg-img.jpg');
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
}

header {
	position: absolute;
	top: 20px;
	right: 20px;

	form {
		display: flex;
		align-items: flex-end;

		p {
			margin-right: 10px;
			font-family: NotoSansMedium;
			font-size: 16px;
			line-height: 1;
		}

		.button {
			width: 100px;
			height: 40px;
			font-family: NotoSansRegular;
			font-size: 14px;
			border-radius: 5px;
			border: none;
			background-color: $primary-btn-clr;
			color: $secondary-txt-clr;
			cursor: pointer;

			&:focus {
				outline: none;
			}

			&:hover {
				background-color: $primary-btn-clr-hover;
			}
		}
	}
}

main {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100vw;

	.dark-container {
		display: flex;
		flex-direction: column;
		align-items: center;
		height: 600px;
		width: calc(48% + 2px);
		margin-top: 50px;
		padding: 50px;
		background-color: $base-bg-clr;

		h1 {
			margin-bottom: 50px;
			font-family: NotoSansThin;
			font-size: 32px;
			color: $front-bg-clr;
			line-height: 1;
			word-spacing: 10px;
		}

		.add-attribute-form {
			display: flex;
			justify-content: space-between;
			align-items: flex-end;
			height: 80px;
			width: 100%;
			margin-bottom: 30px;
			background-color: $front-bg-clr;

			span {
				display: flex;
				flex-direction: column;
				margin: 0px 20px;
				width: 100%;

				&:nth-child(1) {
					width: 50%;
				}

				label {
					order: -1;
					margin: 0px;
					font-family: NotoSansRegular;
					font-size: 14px;
					color: $label-txt-clr;
				}

				input {
					height: 25px;
					width: 100%;
					background-color: transparent;
					border: none;
					box-shadow: none;
					border-bottom: 1px solid $input-border-clr;
					font-family: NotoSansMedium;
					font-size: 14px;
					color: $primary-txt-clr;

					&:focus {
						outline: none;
						padding-bottom: 5px;
					}

					&:focus + label {
						font-family: NotoSansRegular;
						text-transform: uppercase;
						font-size: 11px;
					}
				}
			}

			.button {
				width: 50%;
				height: 36px;
				margin: 0 30px 20px 20px;
				font-family: NotoSansRegular;
				font-size: 14px;
				border-radius: 5px;
				border: none;
				background-color: $primary-btn-clr;
				color: $secondary-txt-clr;
				cursor: pointer;

				&:focus {
					outline: none;
				}

				&:hover {
					background-color: $primary-btn-clr-hover;
				}
			}
		}

		table {
			display: flex;
			height: 350px;
			width: 100%;
			padding: 20px;
			background-color: $front-bg-clr;
			overflow-y: scroll;

			&::-webkit-scrollbar-track {
				margin: 0px;
				background-color: $front-bg-clr;
			}

			&::-webkit-scrollbar {
				width: 10px;
			}

			&::-webkit-scrollbar-thumb {
				background-color: $accent-clr;
			}

			tbody {
				display: flex;
				flex-direction: column;
				height: 100%;
				width: 100%;

				tr {
					display: flex;
					width: 100%;
					margin-bottom: 20px;

					td {
						display: flex;
						justify-content: center;
						align-items: center;
						min-height: 36px;
						font-size: 12px;
						font-family: NotoSansRegular;
						color: $primary-txt-clr;
						border-radius: 3px;

						&:nth-child(1) {
							height: 36px;
							width: 50%;
						}

						&:nth-child(1),
						&:nth-child(2) {
							box-shadow: 1px 1px 3px inset $table-td-shadow;
						}

						&:nth-child(2) {
							justify-content: flex-start;
							width: 100%;
							margin: 0 40px;
							padding-left: 5px;
						}

						&:nth-child(3) {
							display: flex;
							justify-content: space-between;
							width: 50%;
						}

						input {
							height: 100%;
							width: 100%;
							background-color: transparent;
							border: none;
							border-radius: 3px;
							box-shadow: 0 0 3px $accent-clr;
							text-align: center;

							&:focus {
								font-size: 12px;
								font-family: NotoSansMedium;
								color: $primary-txt-clr;
								outline: none;
							}
						}

						textarea {
							min-height: 36px;
							width: 100%;
							padding-top: 11px;
							padding-left: 4px;
							resize: vertical;
							border: none;
							border-radius: 3px;
							box-shadow: 0 0 3px $accent-clr,
								1px 1px 3px inset $table-td-shadow;
							font-size: 12px;
							font-family: NotoSansRegular;
							line-height: 1;

							&:focus {
								outline: none;
								font-size: 12px;
								font-family: NotoSansMedium;
								color: $primary-txt-clr;
							}
						}

						a {
							display: flex;
							justify-content: center;
							align-items: center;
							height: 36px;
							width: 100%;
							font-size: 12px;
							text-align: center;
							font-family: NotoSansMedium;
							color: $front-bg-clr;
							text-decoration: none;
							border-radius: 5px;

							&.remove {
								background-color: $remove-btn-clr;

								&:hover {
									background-color: $remove-btn-clr-hover;
								}
							}

							&.edit {
								background-color: $primary-btn-clr;
								margin-right: 10px;

								&:hover {
									background-color: $primary-btn-clr-hover;
								}
							}

							&.save {
								background-color: $accent-clr;
								margin-right: 10px;

								&:hover {
									background-color: $save-btn-clr-hover;
								}
							}
						}
					}
				}
			}
		}
	}
}

footer {
	position: absolute;
	bottom: 50px;
	color: $footer-txt-clr;
	font-family: NotoSansBlack;
	font-size: 14px;
	letter-spacing: 2px;
}
