@font-face {
  font-family: NotoSansThin;
  src: url(../assets/fonts/NotoSansJP-Thin.otf);
}

@font-face {
  font-family: NotoSansRegular;
  src: url(../assets/fonts/NotoSansJP-Regular.otf);
}

@font-face {
  font-family: NotoSansMedium;
  src: url(../assets/fonts/NotoSansJP-Medium.otf);
}

@font-face {
  font-family: NotoSansBlack;
  src: url(../assets/fonts/NotoSansJP-Black.otf);
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

:root {
  font-size: 16px;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100vh;
  width: 100vw;
  background-image: url("../assets/bird-bg-img.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

@media (min-width: 1333px) {
  body {
    -webkit-animation: bg-image 5s linear infinite alternate;
            animation: bg-image 5s linear infinite alternate;
  }
  @-webkit-keyframes bg-image {
    0% {
      background-size: 105%;
    }
    50% {
      background-size: 110%;
    }
    100% {
      background-size: 115%;
    }
  }
  @keyframes bg-image {
    0% {
      background-size: 105%;
    }
    50% {
      background-size: 110%;
    }
    100% {
      background-size: 115%;
    }
  }
}

body main {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: rgba(15, 26, 47, 0.9);
  min-height: 46%;
  width: 67%;
}

@media (max-width: 640px) {
  body main {
    bottom: 30px;
    height: 75%;
    width: 85%;
  }
}

@media (max-width: 550px) {
  body main {
    bottom: unset;
    height: 100%;
    width: 100%;
  }
}

@media (max-height: 440px) and (orientation: landscape) {
  body main {
    bottom: unset;
    height: 100%;
    width: 100%;
  }
}

body main .button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 140px;
  height: 50px;
  font-family: NotoSansRegular;
  font-size: 12px;
  border-radius: 25px;
  color: #fff;
  background-color: rgba(0, 0, 0, 0);
  cursor: pointer;
}

body main .button:focus {
  outline: none;
}

body main .container {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  margin: 0 auto;
  font-size: 19px;
  color: #fff;
}

@media (max-width: 1333px) {
  body main .container * {
    display: none !important;
  }
}

body main .container .sign-up-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 41%;
  margin-left: 9%;
}

body main .container .sign-up-block h2,
body main .container .sign-up-block p {
  max-width: 270px;
}

body main .container .login-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 50%;
}

body main .container .login-container .login-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 80%;
}

body main .container .login-container .login-block h2,
body main .container .login-container .login-block p {
  max-width: 80%;
}

body main .container h2,
body main .container p {
  color: #fff;
}

body main .container p {
  font-family: NotoSansRegular;
  font-size: 0.9rem;
  line-height: 32px;
}

body main .container .button {
  border: 2px solid #49abfe;
}

body main .container .button:hover {
  background-color: #49abfe;
}

body main .container .dimension-border {
  position: absolute;
  z-index: -1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  left: calc(46% + 2px);
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100%;
  width: 10%;
}

body main .container .dimension-border .triangle {
  position: absolute;
  z-index: -2;
  left: 4px;
  height: 23px;
  width: 10px;
  background-color: #89deff;
}

body main .container .dimension-border .solid-border {
  position: absolute;
  z-index: -1;
  height: 100%;
  width: 9px;
  background-color: #20293a;
}

body main .container .dimension-border .top-triangle {
  top: -18px;
  -webkit-transform: rotate(25deg);
          transform: rotate(25deg);
}

body main .container .dimension-border .bottom-triangle {
  bottom: -18px;
  -webkit-transform: rotate(-25deg);
          transform: rotate(-25deg);
}

body main h2,
body main span:first-of-type,
body main p,
body main input {
  margin-bottom: 22px;
}

body main h2 {
  font-family: NotoSansThin;
  font-size: 1.6rem;
}

body main .under-line {
  display: block;
  width: 40px;
  height: 2px;
  background-color: #49abfe;
}

body main .transformer-container {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  top: -20px;
  bottom: -20px;
  right: 2%;
  height: auto;
  width: 51%;
  background-color: #fff;
  -webkit-box-shadow: 0 0 2px #cfcfcf;
          box-shadow: 0 0 2px #cfcfcf;
}

@media (max-width: 1333px) {
  body main .transformer-container {
    width: auto;
    left: 20px;
    right: 20px;
  }
}

@media (max-width: 550px) {
  body main .transformer-container {
    width: auto;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
  }
}

@media (max-height: 440px) and (orientation: landscape) {
  body main .transformer-container {
    width: auto;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
  }
}

body main .transformer-container .form-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  width: 100%;
}

body main .transformer-container .form-container .inner-form-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 60%;
}

@media (max-width: 450px) {
  body main .transformer-container .form-container .inner-form-container {
    height: 50%;
    width: 80%;
  }
}

@media (max-height: 440px) and (orientation: landscape) {
  body main .transformer-container .form-container .inner-form-container {
    position: relative;
    top: -15px;
  }
}

body main .transformer-container .form-container .inner-form-container header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
}

body main .transformer-container .form-container .inner-form-container header div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

body main .transformer-container .form-container .inner-form-container header div h2 {
  color: #3e495e;
}

body main .transformer-container .form-container .inner-form-container header div img {
  height: 30px;
  width: auto;
}

body main .transformer-container .form-container .inner-form-container .error-msg {
  font-family: NotoSansMedium;
  font-size: 14px;
  color: #e04f4f;
}

body main .transformer-container .form-container .inner-form-container .success-msg {
  font-family: NotoSansMedium;
  font-size: 14px;
  color: #36ca56;
}

body main .transformer-container .form-container .inner-form-container form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100%;
}

body main .transformer-container .form-container .inner-form-container form div {
  width: 100%;
}

body main .transformer-container .form-container .inner-form-container form .name-input-container,
body main .transformer-container .form-container .inner-form-container form .email-input-container,
body main .transformer-container .form-container .inner-form-container form .password-input-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
  margin-bottom: 25px;
}

@media (max-height: 440px) and (orientation: landscape) {
  body main .transformer-container .form-container .inner-form-container form .name-input-container,
  body main .transformer-container .form-container .inner-form-container form .email-input-container,
  body main .transformer-container .form-container .inner-form-container form .password-input-container {
    margin-bottom: 10px;
  }
}

body main .transformer-container .form-container .inner-form-container form .name-input-container {
  display: none;
}

body main .transformer-container .form-container .inner-form-container form .input-container {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  width: 100%;
}

body main .transformer-container .form-container .inner-form-container form .input-container label::after {
  content: '*';
  color: #f44368;
  font-size: 14px;
}

body main .transformer-container .form-container .inner-form-container form .input-container img {
  position: absolute;
  bottom: -2px;
  right: 0;
  height: auto;
  width: 16px;
}

body main .transformer-container .form-container .inner-form-container form input {
  height: 25px;
  width: 100%;
  margin: 0px;
  font-family: NotoSansMedium;
  font-size: 14px;
  color: #3e495e;
  background-color: transparent;
  border: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  border-bottom: 1px solid #cbd2df;
  /*
							||||||||||||||||||||||||||||||||||
							|| OVERRIDING USER AGENT STYLES || 
							||||||||||||||||||||||||||||||||||*/
}

body main .transformer-container .form-container .inner-form-container form input:focus {
  outline: none;
  padding-bottom: 5px;
}

body main .transformer-container .form-container .inner-form-container form input:focus + div label {
  font-family: NotoSansRegular;
  text-transform: uppercase;
  font-size: 11px;
}

body main .transformer-container .form-container .inner-form-container form input:-webkit-autofill, body main .transformer-container .form-container .inner-form-container form input:-webkit-autofill:hover, body main .transformer-container .form-container .inner-form-container form input:-webkit-autofill:focus, body main .transformer-container .form-container .inner-form-container form input:-webkit-autofill, body main .transformer-container .form-container .inner-form-container form input:-webkit-autofill:hover, body main .transformer-container .form-container .inner-form-container form input:-webkit-autofill:focus, body main .transformer-container .form-container .inner-form-container form input:-webkit-autofill, body main .transformer-container .form-container .inner-form-container form input:-webkit-autofill:hover, body main .transformer-container .form-container .inner-form-container form input:-webkit-autofill:focus, body main .transformer-container .form-container .inner-form-container form input:-webkit-autofill::first-line {
  font-family: NotoSansMedium;
  font-size: 14px;
  -webkit-box-shadow: 0 0 0px 1000px white inset;
          box-shadow: 0 0 0px 1000px white inset;
}

body main .transformer-container .form-container .inner-form-container form .main-button-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 8px;
}

@media (max-width: 980px) {
  body main .transformer-container .form-container .inner-form-container form .main-button-container {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

@media (max-height: 440px) and (orientation: landscape) {
  body main .transformer-container .form-container .inner-form-container form .main-button-container {
    margin-top: unset;
  }
}

body main .transformer-container .form-container .inner-form-container form .main-button-container .button {
  background-color: #f89a35;
  border: none;
  text-align: center;
}

body main .transformer-container .form-container .inner-form-container form .main-button-container .button.hidden-login, body main .transformer-container .form-container .inner-form-container form .main-button-container .button.hidden-sign-up {
  display: none;
  margin-bottom: 0px;
}

@media (max-width: 1333px) {
  body main .transformer-container .form-container .inner-form-container form .main-button-container .button.hidden-login, body main .transformer-container .form-container .inner-form-container form .main-button-container .button.hidden-sign-up {
    display: block;
  }
}

@media (max-width: 980px) {
  body main .transformer-container .form-container .inner-form-container form .main-button-container .button.hidden-login, body main .transformer-container .form-container .inner-form-container form .main-button-container .button.hidden-sign-up {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    margin: 25px 60px 0 0;
  }
}

@media (max-height: 440px) and (orientation: landscape) {
  body main .transformer-container .form-container .inner-form-container form .main-button-container .button.hidden-login, body main .transformer-container .form-container .inner-form-container form .main-button-container .button.hidden-sign-up {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    margin: unset;
  }
}

body main .transformer-container .form-container .inner-form-container form .main-button-container .button.hidden-btn {
  display: none;
}

body main .transformer-container .form-container .inner-form-container form .main-button-container .button.fake-sign-up-btn {
  background-color: #49abfe;
}

body main .transformer-container .form-container .inner-form-container form .main-button-container .button.fake-sign-up-btn:hover {
  background-color: #186eb9;
}

body main .transformer-container .form-container .inner-form-container form .main-button-container .button.fake-login-btn {
  background-color: #49abfe;
}

body main .transformer-container .form-container .inner-form-container form .main-button-container .button.fake-login-btn:hover {
  background-color: #186eb9;
}

body main .transformer-container .form-container .inner-form-container form .main-button-container .button:focus {
  outline: none;
}

body main .transformer-container .form-container .inner-form-container form .main-button-container .button:hover {
  background-color: #f8bf35;
}

body main .transformer-container .form-container .inner-form-container form label,
body main .transformer-container .form-container .inner-form-container form p {
  margin: 0px;
  font-family: NotoSansRegular;
  font-size: 14px;
  color: #8495b7;
}

body footer {
  position: absolute;
  bottom: 50px;
  color: #a7b3cb;
  font-family: NotoSansBlack;
  font-size: 14px;
  letter-spacing: 2px;
  text-align: center;
}

@media (max-height: 440px) and (orientation: landscape) {
  body footer {
    bottom: 20px;
  }
}
/*# sourceMappingURL=style.css.map */