///////////////////////////////////
//  Background and Border Colors //
///////////////////////////////////
$base-bg-clr: rgba(15, 26, 47, 0.9);
$front-bg-clr: #fff;
$accent-clr: #49abfe;
$save-btn-clr-hover: #186eb9;
$primary-btn-clr: #f89a35;
$primary-btn-clr-hover: #f8bf35;
$remove-btn-clr: #20293a;
$remove-btn-clr-hover: #a12720;
$required-star-clr: #f44368;
$input-border-clr: #cbd2df;
$dimension-border-clr: #20293a;
$dimension-triangle-clr: #89deff;
$table-td-shadow: #6c6c6c;

///////////////////
//  Text Colors //
//////////////////
$primary-txt-clr: #3e495e;
$secondary-txt-clr: #fff;
$label-txt-clr: #8495b7;
$footer-txt-clr: #a7b3cb;
$error-txt-clr: #e04f4f;
$success-txt-clr: #36ca56;

///////////////////
// Font-families //
///////////////////
@font-face {
	font-family: NotoSansThin;
	src: url(../assets/fonts/NotoSansJP-Thin.otf);
}

@font-face {
	font-family: NotoSansRegular;
	src: url(../assets/fonts/NotoSansJP-Regular.otf);
}

@font-face {
	font-family: NotoSansMedium;
	src: url(../assets/fonts/NotoSansJP-Medium.otf);
}

@font-face {
	font-family: NotoSansBlack;
	src: url(../assets/fonts/NotoSansJP-Black.otf);
}
